$primary: #FFBFCB !important; // light pink
$secondary: #8C92AC !important; // cool grey
$intermediary-light: #FFDBE3 !important; // very light pink
$intermediary-dark: #4C00A4; // purple navy
$darkpink: #ff6582 !important; // pink fuchsia
$warning:rgb(230, 172, 16) !important;
$success:green !important;
$danger: rgb(209, 10, 10) !important;
$light: #FFFFFF !important;
$dark:#000000 !important;

$text-font: 'Rancho', cursive;
$font-title: 'Space Mono', monospace;
$font-subtitle:'Kaushan Script', cursive;
$text-size: 24px;
$subtitle-size: 36px;
$title-size: 48px;
$title-weight: 800;
$card-height: 100%;
$padding: 10px;