<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
<div class="container-fluid my-5">
    <div th:replace="fragments :: menu">
    </div>
    <div class="my-5">
        <h2 class="text-center"> Manage Users </h2>
        <a th:href="@{/users/new}" class="btn button text-white p-2 fs-3" role="button">Create new user</a>
    </div>
    <!-- Flash message -->
    <div th:if="${message != null}"  class="alert alert-success text-center text-secondary" th:text="${message}">
    </div>
    <!-- Table of all users -->
    <div class="listUser">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="text-center">
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th>E-mail</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Roles</th>
                    <th>Enable</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>[[${user.id}]]</td>
                    <td class="text-center">
                        <span th:if="${user.photos == null}" class="fas fa-image-portrait text-pink fa-3x"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"  th:width="100" th:height="100" class="rounded mx-2" alt="user photo"/>
                    </td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstname}]]</td>
                    <td>[[${user.lastname}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td class="text-center">
                        <a th:if="${user.enable == true}" th:href="@{'/users/' + ${user.id} + '/enable/false'}" title="Disable this user"><i class="fas fa-check-circle text-success"></i></a>
                        <a th:if="${user.enable == false}" th:href="@{'/users/' + ${user.id} + '/enable/true'}" title="Enable this user"><i class="fas fa-check-circle text-secondary"></i></a>
                    </td>
                    <td class="row">
                        <a class="col-md-4 offset-md-2 btn text-center" th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"><i class="fas fa-pen-to-square text-success fs-4"></i></a>
                        <a class="col-md-4 btn text-center link-delete" th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}" title="Delete this user"><i class="fas fa-trash-can text-secondary fs-4"></i></a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Modal Dialog confirms deleting email-->
    <div class="modal text-center" id="confirmModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger fw-bold fs-3 p-2 rounded"> Delete confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success fs-4 px-3" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger fs-4 px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Dialog finishes -->

    <div th:replace="fragments :: footer">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            // alert($(this).attr("href"));
            userId = $(this).attr("userId");
            $("#yesButton").attr("href", $(this).attr("href"));
            $("#confirmText").text("Are you sure that you want to delete this user id " + userId + " ?");
            $("#confirmModal").modal("show");
        })
    });

</script>
</body>
</html>