<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Homepage - KidShop Admin')">
</head>
<body>
<div class="container-fluid my-5">

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" />
    </form>

    <div th:replace="fragments :: menu">
    </div>
    <div>
        <h1 class="text-center"> Kid Shop Admin Control Panel</h1>
    </div>
    <div th:replace="fragments :: footer">
    </div>
</div>

<script>

</script>

</body>
</html>